
	/* Timeline */
	.card-action .card-header {
		display: -ms-flexbox;
		display: flex;
		line-height: 1.54;
  	}
	.card-action .card-header .card-action-title {
		-ms-flex-positive: 1;
		flex-grow: 1;
		margin-right: 0.5rem;
	}
	
	.timeline {
		height: 100%;
		list-style: none;
		padding: 0;
		position: relative;
		width: 100%;
  	}
	.timeline:before {
		border: 0;
		border-left: 1px solid #d9dee3;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 1px;
		z-index: 1;
  	}
  	.timeline .timeline-header {
		-ms-flex-pack: justify;
		-ms-flex-align: center;
		align-items: center;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: row;
		flex-direction: row;
		justify-content: space-between;
  	}
	  .timeline .timeline-header > :first-child {
    		margin-right: 0.5rem;
  	}
	.timeline .timeline-end-indicator {
		bottom: -1.35rem;
		left: -0.65rem;
		position: absolute;
	}
	.timeline .timeline-end-indicator i {
		color: #d9dee3;
		font-size: 1.5rem;
	}
	.timeline .timeline-label {
		display: block;
		margin-bottom: 1rem;
		margin-left: -1.5rem;
		position: relative;
		text-align: left;
		z-index: 2;
	}
	.timeline.timeline-solid:before {
		border-style: solid;
	}
	.timeline.timeline-dotted:before {
		border-style: dotted;
	}
	.timeline.timeline-dashed:before {
		border-style: dashed;
	}
	.timeline.timeline-hidden:before {
		border-style: none;
	}
	.timeline .timeline-item {
		padding-left: 3rem;
		position: relative;
	}
	.timeline .timeline-item .timeline-event {
		background-color: #fff;
		border-radius: 0.375rem;
		min-height: 4rem;
		padding: 1.25rem 1.5rem;
		position: relative;
		top: -1rem;
		width: 100%;
	}
	.timeline .timeline-item .timeline-event:before {
    border-color: transparent #fff;
    border-style: solid;
    border-width: 1rem 1rem 1rem 0;
    content: "";
    height: 0;
    left: 32px;
    margin-left: -3rem;
    position: absolute;
    right: 100%;
    top: 0.75rem;
    width: 0;
  }
  .timeline .timeline-item .timeline-event:after {
    border-color: transparent #d9dee3 transparent #fff;
    border-style: solid;
    border-width: 1rem 1rem 1rem 0;
    content: "";
    height: 0;
    left: -17px;
    position: absolute;
    top: 0.75rem;
    width: 0;
    z-index: -1;
  }
	.timeline .timeline-item .timeline-event.timeline-event-shadow {
		box-shadow: 0 0.5rem 1rem rgba(67, 89, 113, 0.075) !important;
	}
	.timeline .timeline-item .timeline-event .timeline-event-time {
		color: #a1acb8;
		font-size: 0.85rem;
		position: absolute;
		top: 1.2rem;
	}
	.timeline .timeline-item .timeline-indicator {
		background-color: #f5f5f9 !important;
		border: 2px solid #696cff;
		border-radius: 50%;
		display: block;
		height: 1.5rem;
		left: -0.6875rem;
		position: absolute;
		text-align: center;
		top: 0;
		width: 1.5rem;
		z-index: 2;
	}
	.timeline .timeline-item .timeline-indicator i {
		color: #696cff;
		font-size: 0.85rem;
		vertical-align: baseline;
	}
	.timeline .timeline-item .timeline-point {
		background-color: #696cff;
		border-radius: 50%;
		display: block;
		height: 0.75rem;
		left: -0.312rem;
		position: absolute;
		top: 0;
		width: 0.75rem;
		z-index: 2;
	}
	.timeline .timeline-item.timeline-item-transparent .timeline-event {
		background-color: transparent;
		top: -1.4rem;
	}
	html:not([dir="rtl"])
		.timeline
		.timeline-item.timeline-item-transparent
		.timeline-event {
		padding-left: 0;
	}
	.timeline
		.timeline-item.timeline-item-transparent
		.timeline-event.timeline-event-shadow {
		padding-left: 2rem;
	}
	.timeline .timeline-item.timeline-item-transparent .timeline-event:before {
		display: none;
	}
	.timeline.timeline-center:before {
		left: 50%;
	}
	.timeline.timeline-center:after {
		left: 50%;
		margin-left: -0.55rem;
	}
	.timeline.timeline-center .timeline-end-indicator {
		bottom: -1.4rem;
		left: 50%;
		margin-left: 0.55rem;
	}
	.timeline.timeline-center .timeline-label {
		clear: left;
		float: left;
		margin-bottom: 1.5rem;
		margin-left: auto;
		margin-top: 1.5rem;
		text-align: center;
		width: 100%;
	}
	.timeline.timeline-center .timeline-label + .timeline-item {
		margin-top: 2rem;
	}
	.timeline.timeline-center .timeline-item {
		clear: both;
		width: 50%;
	}
	.timeline.timeline-center .timeline-item.timeline-item-left,
  	.timeline.timeline-center
    .timeline-item:nth-of-type(odd):not(.timeline-item-left):not(
      .timeline-item-right) {
		float: left;
		padding-left: 0;
		padding-right: 3rem;
 	 }
  	.timeline.timeline-center
    .timeline-item.timeline-item-left
    .timeline-event
    .timeline-event-time,
  	.timeline.timeline-center
    .timeline-item:nth-of-type(odd):not(.timeline-item-left):not(
    .timeline-item-right)
    .timeline-event
    .timeline-event-time {
   		right: -9.5rem;
  	}
  	.timeline.timeline-center
    .timeline-item.timeline-item-left
    .timeline-event:before,
  	.timeline.timeline-center
    .timeline-item:nth-of-type(odd):not(.timeline-item-left):not(
    .timeline-item-right)
    .timeline-event:before {
		border-left-width: 16px;
		border-right-width: 0;
		left: auto;
		right: -15px;
  	}
  	.timeline.timeline-center .timeline-item.timeline-item-left .timeline-point,
  	.timeline.timeline-center
	.timeline-item:nth-of-type(odd):not(.timeline-item-left):not(
    .timeline-item-right)
    .timeline-point {
   		left: 100%;
  	}
  	.timeline.timeline-center .timeline-item.timeline-item-right,
  	.timeline.timeline-center
    .timeline-item:nth-of-type(2n):not(.timeline-item-left):not(
	.timeline-item-right) {
    	float: right;
  	}
	.timeline.timeline-center
	.timeline-item.timeline-item-right
	.timeline-event-time,
	.timeline.timeline-center
	.timeline-item:nth-of-type(2n):not(.timeline-item-left):not(
	.timeline-item-right)
    .timeline-event-time {
    	left: -9.5rem;
 	 }
  	.timeline.timeline-center .timeline-item.timeline-item-right .timeline-point,
  	.timeline.timeline-center
    .timeline-item:nth-of-type(2n):not(.timeline-item-left):not(
    .timeline-item-right)
    .timeline-point {
    	left: 0;
  	}
  	.timeline.timeline-center .timeline-item .timeline-point {
		left: 50%;
		margin-left: -0.6875rem;
 	 }
  	.timeline.timeline-center .timeline-item .timeline-point-indicator {
		left: 50%;
		margin-left: -0.3125rem;
  	}
  	[dir="rtl"] .timeline:not(.timeline-center):before {
		left: auto;
		right: -1px;
  	}
  	[dir="rtl"] .timeline:not(.timeline-center):after {
		left: auto;
    	margin-right: -0.65rem;
 	}
	[dir="rtl"] .timeline:not(.timeline-center) .timeline-end-indicator {
		left: auto;
		right: -0.75rem;
  	}
  	[dir="rtl"] .timeline:not(.timeline-center) .timeline-label {
		margin-right: -1.5rem;
		text-align: right;
  	}
  	[dir="rtl"] .timeline:not(.timeline-center) .timeline-item {
		padding-left: 0;
		padding-right: 3rem;
  	}
  	[dir="rtl"]
    .timeline:not(.timeline-center)
    .timeline-item
    .timeline-event:before {
		border-left-width: 1rem;
		border-right-width: 0;
		left: auto;
		right: -1rem;
  	}
  	[dir="rtl"]
    .timeline:not(.timeline-center)
    .timeline-item.timeline-item-transparent
    .timeline-event {
    	padding-right: 0;
  	}
  	[dir="rtl"] .timeline:not(.timeline-center) .timeline-item .timeline-point {
		left: auto;
		right: -0.375rem;
  	}
  	[dir="rtl"] .timeline:not(.timeline-center) .timeline-item .timeline-indicator {
		left: auto;
		right: -0.75rem;
  	}
  	@media (min-width: 768px) {
		.timeline.timeline-center
		.timeline-item.timeline-item-left
		.timeline-indicator,
		.timeline.timeline-center
		.timeline-item:nth-of-type(odd):not(.timeline-item-left):not(
		.timeline-item-right)
      	.timeline-indicator {
      		left: calc(100% - 0.75rem);
    	}
		.timeline.timeline-center
		.timeline-item.timeline-item-left
		.timeline-event:after,
		.timeline.timeline-center
		.timeline-item:nth-of-type(odd):not(.timeline-item-left):not(
		.timeline-item-right)
      	.timeline-event:after {
			left: auto;
			right: -16px;
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
    	}
  	}
  	@media (max-width: 767.98px) {
		.timeline.timeline-center:after,
		.timeline.timeline-center:before {
			left: 0;
		}
		.timeline.timeline-center .timeline-end-indicator {
			left: -2px;
		}
		.timeline.timeline-center .timeline-label {
			text-align: left;
		}
		.timeline.timeline-center .timeline-item {
			float: left !important;
			padding-left: 3rem !important;
			padding-right: 0 !important;
			width: 100%;
		}
		.timeline.timeline-center .timeline-item .timeline-event:before {
			border-left-width: 0 !important;
			border-right-width: 1rem !important;
			right: 100% !important;
		}
		.timeline.timeline-center
		.timeline-item
		.timeline-event
		.timeline-event-time {
			left: 0 !important;
			right: auto !important;
			top: -1.7rem;
		}
		.timeline.timeline-center .timeline-item .timeline-point {
			left: -0.7rem !important;
			margin-left: 0 !important;
		}
		.timeline.timeline-center .timeline-item .timeline-point-indicator {
			left: 0 !important;
			margin-left: -0.3125rem !important;
		}
    	[dir="rtl"] .timeline.timeline-center:before {
      		left: auto;
      		right: 0;
    	}
    	[dir="rtl"] .timeline.timeline-center:after {
      		left: auto;
      		right: -0.55rem;
   		 }
    	[dir="rtl"] .timeline.timeline-center .timeline-end-indicator {
			left: auto;
			right: -12px;
    	}
    	[dir="rtl"] .timeline.timeline-center .timeline-label {
     		text-align: right;
    	}
    	[dir="rtl"] .timeline.timeline-center .timeline-item {
			float: right !important;
			padding-left: 0 !important;
			padding-right: 3rem !important;
			width: 100%;
    	}
    	[dir="rtl"] .timeline.timeline-center .timeline-item .timeline-event:before {
			border-left-width: 1rem !important;
			border-right-width: 0 !important;
			left: 100% !important;
			right: -1rem !important;
    	}
    	[dir="rtl"] .timeline.timeline-center .timeline-item .timeline-event:after {
			left: auto;
			right: -17px;
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
    	}
    	[dir="rtl"]
		.timeline.timeline-center
		.timeline-item
		.timeline-event
		.timeline-event-time {
			left: auto !important;
			right: 0 !important;
			top: -1.2rem;
    	}
    	[dir="rtl"] .timeline.timeline-center .timeline-item .timeline-point {
			margin-right: 0 !important;
			right: -0.7rem !important;
    	}
    	[dir="rtl"]
		.timeline.timeline-center
		.timeline-item
		.timeline-point-indicator {
			margin-right: -0.3125rem !important;
			right: 0 !important;
    	}
    	[dir="rtl"] .timeline .timeline-item .timeline-indicator {
			left: auto;
			right: -0.6875rem;
    	}
  	}
	@media (max-width: 575.98px) {
		.timeline .timeline-header {
		-ms-flex-align: start;
		align-items: flex-start;
		-ms-flex-direction: column;
		flex-direction: column;
		}
	}
		.timeline .timeline-item-secondary .timeline-event {
			background-color: rgba(133, 146, 163, 0.1);
		}
		.timeline .timeline-item-secondary .timeline-event:before {
			border-left-color: rgba(133, 146, 163, 0.1) !important;
			border-right-color: rgba(133, 146, 163, 0.1) !important;
		}
		.timeline .timeline-point-secondary {
			background-color: #8592a3 !important;
			box-shadow: 0 0 0 0.1875rem rgba(133, 146, 163, 0.16);
		}
		.timeline .timeline-indicator-secondary {
			border-color: #8592a3 !important;
		}
		.timeline .timeline-indicator-secondary i {
			color: #8592a3 !important;
		}
		.timeline .timeline-item-success .timeline-event {
			background-color: rgba(113, 221, 55, 0.1);
		}
		.timeline .timeline-item-success .timeline-event:before {
			border-left-color: rgba(113, 221, 55, 0.1) !important;
			border-right-color: rgba(113, 221, 55, 0.1) !important;
		}
		.timeline .timeline-point-success {
			background-color: #71dd37 !important;
			box-shadow: 0 0 0 0.1875rem rgba(113, 221, 55, 0.16);
		}
		.timeline .timeline-indicator-success {
			border-color: #71dd37 !important;
		}
		.timeline .timeline-indicator-success i {
			color: #71dd37 !important;
		}
		.timeline .timeline-item-info .timeline-event {
			background-color: rgba(3, 195, 236, 0.1);
		}
		.timeline .timeline-item-info .timeline-event:before {
			border-left-color: rgba(3, 195, 236, 0.1) !important;
			border-right-color: rgba(3, 195, 236, 0.1) !important;
		}
		.timeline .timeline-point-info {
			background-color: #03c3ec !important;
			box-shadow: 0 0 0 0.1875rem rgba(3, 195, 236, 0.16);
		}
		.timeline .timeline-indicator-info {
			border-color: #03c3ec !important;
		}
		.timeline .timeline-indicator-info i {
			color: #03c3ec !important;
		}
		.timeline .timeline-item-warning .timeline-event {
			background-color: rgba(255, 171, 0, 0.1);
		}
		.timeline .timeline-item-warning .timeline-event:before {
			border-left-color: rgba(255, 171, 0, 0.1) !important;
			border-right-color: rgba(255, 171, 0, 0.1) !important;
		}
		.timeline .timeline-point-warning {
			background-color: #ffab00 !important;
			box-shadow: 0 0 0 0.1875rem rgba(255, 171, 0, 0.16);
		}
		.timeline .timeline-indicator-warning {
			border-color: #ffab00 !important;
		}
		.timeline .timeline-indicator-warning i {
			color: #ffab00 !important;
		}
		.timeline .timeline-item-danger .timeline-event {
			background-color: rgba(255, 62, 29, 0.1);
		}
		.timeline .timeline-item-danger .timeline-event:before {
			border-left-color: rgba(255, 62, 29, 0.1) !important;
			border-right-color: rgba(255, 62, 29, 0.1) !important;
		}
		.timeline .timeline-point-danger {
			background-color: #ff3e1d !important;
			box-shadow: 0 0 0 0.1875rem rgba(255, 62, 29, 0.16);
		}
		.timeline .timeline-indicator-danger {
			border-color: #ff3e1d !important;
		}
		.timeline .timeline-indicator-danger i {
			color: #ff3e1d !important;
		}
		.timeline .timeline-item-dark .timeline-event {
			background-color: rgba(35, 52, 70, 0.1);
		}
		.timeline .timeline-item-dark .timeline-event:before {
			border-left-color: rgba(35, 52, 70, 0.1) !important;
			border-right-color: rgba(35, 52, 70, 0.1) !important;
		}
		.timeline .timeline-point-dark {
			background-color: #233446 !important;
			box-shadow: 0 0 0 0.1875rem rgba(35, 52, 70, 0.16);
		}
		.timeline .timeline-indicator-dark {
			border-color: #233446 !important;
		}
		.timeline .timeline-indicator-dark i {
			color: #233446 !important;
		}
		.timeline .timeline-item-gray .timeline-event {
			background-color: rgba(67, 89, 113, 0.1);
		}
		.timeline .timeline-item-gray .timeline-event:before {
			border-left-color: rgba(67, 89, 113, 0.1) !important;
			border-right-color: rgba(67, 89, 113, 0.1) !important;
		}
		.timeline .timeline-point-gray {
			background-color: rgba(67, 89, 113, 0.1) !important;
			box-shadow: 0 0 0 0.1875rem rgba(67, 89, 113, 0.16);
		}
		.timeline .timeline-indicator-gray {
			border-color: rgba(67, 89, 113, 0.1) !important;
		}
		.timeline .timeline-indicator-gray i {
			color: rgba(67, 89, 113, 0.1) !important;
		}

		/* Employment CSS */
		.activity-feed {
			list-style: none;
			margin-bottom: 0;
			margin-left: 5px;
			padding: 0;
			width: 100%;
		}
		.activity-feed .feed-item {
			border-left: 2px solid #e4e8eb;
			padding-bottom: 10px;
			padding-left: 20px;
			position: relative;
		}
		.activity-feed .feed-item:last-child {
			border-color: transparent;
			padding-bottom: 0;
		}
		.activity-feed .feed-item:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: -7px;
			width: 13px;
			height: 13px;
			border-radius: 50%;
			background-color: #3d5ee1;
		}
		.activity-feed .feed-item:after {
			content: "";
			display: block;
			position: absolute;
			background-color: #fff;
			width: 7px;
			height: 7px;
			top: 3px;
			left: -4px;
			border-radius: 50px;
		}
		.activity-feed .feed-item .feed-date {
			display: block;
			position: relative;
			color: #777;
			text-transform: uppercase;
			font-size: 13px;
			top: -2px;
		}
		.activity-feed .feed-item .feed-text {
			color: #777;
			position: relative;
		}
		.activity-feed .feed-item .feed-text a {
			color: #333;
			font-weight: 600;
		}
		.activity-feed .feed-item .feed-date1 {
			display: block;
			position: relative;
			color: #777;
			font-size: 12px;
			top: -2px;
		}
		.activity-feed .feed-item p {
			font-weight: 400;
			margin: 0;
			font-size: 12px;
		}
		.activity-feed .feed-item p span {
			color: #ffba38;
		}
		.activity-btns .btn-info {
			min-width: 151px;
			background: #f4feff;
			border: 1px solid #f4feff;
			font-size: 14px;
			border-radius: 10px;
		}
		

	
		.avatar {
			cursor: pointer;
			height: 2.375rem;
			position: relative;
			width: 2.375rem;
		}
		.avatar img {
			height: 100%;
			width: 100%;
			border-radius: 5px;
		}
		.avatar .avatar-initial {
			-ms-flex-align: center;
			-ms-flex-pack: center;
			align-items: center;
			background-color: #8592a3;
			bottom: 0;
			color: #fff;
			display: -ms-flexbox;
			display: flex;
			font-weight: 700;
			justify-content: center;
			left: 0;
			position: absolute;
			right: 0;
			text-transform: uppercase;
			top: 0;
		}
		.avatar.avatar-away:after,
		.avatar.avatar-busy:after,
		.avatar.avatar-offline:after,
		.avatar.avatar-online:after {
			border-radius: 100%;
			bottom: 0;
			box-shadow: 0 0 0 2px #fff;
			content: "";
			height: 8px;
			position: absolute;
			right: 3px;
			width: 8px;
		}
		.avatar.avatar-online:after {
			background-color: #71dd37;
		}
		.avatar.avatar-offline:after {
			background-color: #8592a3;
		}
		.avatar.avatar-away:after {
			background-color: #ffab00;
		}
		.avatar.avatar-busy:after {
			background-color: #ff3e1d;
		}
		.w-px-400 {
			width: 400px !important;
		}
		.dropdown-toggle-hide-arrow > .dropdown-toggle:after,
		.dropdown-toggle-hide-arrow > .dropdown-toggle:before,
		.dropdown-toggle.hide-arrow:after,
		.dropdown-toggle.hide-arrow:before {
			display: none;
		}

		.badge.badge-notifications {
			display: inline-block;
			margin: 0;
			position: absolute;
			top: auto;
			-webkit-transform: translate(-50%, -30%);
			transform: translate(-50%, -30%);
		}
		
		.badge.badge-notifications:not(.badge-dot) {
			font-size: 0.582rem;
			line-height: 0.75rem;
			padding: 0.05rem 0.2rem;
		}


		/* language container */
		.centerlangues {
			margin: auto;
			width: 90%;
			background-color: white;
			padding-bottom: 10px;
			padding-top: 10px;
			box-shadow: 0 2px 5px 0 #D3D3D3, 0 3px 11px 0 #D3D3D3;
			border-radius: 9px;
			outline: 1px solid #2e5ca2;
			margin-top: 9%;
		}
	
		/* Modal CSS */
		/* .grid-container, .modal-open > :not(.modal) {
			filter: blur(3px);
		} */

		.tari_modal{
			border-radius: 25px 25px 0px 0px;
		}

		.pros-flexi-input-affix-wrapper-campus  {
			margin: auto;
			width: 100%;
			background-color: white;
			padding-bottom: 6px;
			padding-top: 6px;
			box-shadow: 0 2px 5px 0 #D3D3D3, 0 3px 11px 0 #D3D3D3;
			border-radius:80px;
			outline: 1px solid #007bff;
			/* align-content: center; */
		}

		.pros-flexi-input{
			outline: none;
			border: none;
			font-family: poppins, sans-serif;
			font-size: 11px;
			user-select: none;
			color:#363949;
		}
		.pasteitems:focus{
			outline: none;
			font-size:29px;
			font-weight:bold;
			top: -20px;
		}
		
		.pasteitems {
		font-size:29px;
		font-weight:bold;
		text-align: center;
		}

		
		/* Edit Profile Pic */
		.profile-edit-icon {
			width: 25px;
			height: 25px;
			background: #3d5ee1;
			position: absolute;
			border-radius: 50px;
			bottom: 8%;
			left: 11%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			justify-content: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			-webkit-transition: all 0.5s ease;
		}
		.profile-edit-icon:hover {
			background: #70c4cf;
			transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			-webkit-transition: all 0.5s ease;
		}
		.profile-edit-icon i {
			color: #fff;
		}
		.students-up-files label {
			font-size: 15px;
			font-weight: 500;
		}
		.students-up-files label.file-upload.image-upbtn {
			background: #444;
			border: 1px solid #444;
			border-radius: 8px;
			color: #fff;
			padding: 6px 19px;
			font-size: 14px;
			font-weight: 500;
			cursor: pointer;
		}

		.students-up-files label.file-upload.image-upbtn:hover {
			background: #000;
			border: 1px solid #000;
		}
		.students-up-files label.file-upload {
			position: relative;
			overflow: hidden;
		}
		.students-up-files label.file-upload input[type="file"] {
			position: absolute;
			top: 0;
			right: 0;
			min-width: 100%;
			min-height: 100%;
			font-size: 100px;
			text-align: right;
			filter: alpha(opacity=0);
			opacity: 0;
			outline: none;
			background: #fff;
			cursor: inherit;
			display: block;
		} 
		.tab-content{
				margin-bottom: 5%;
		}

	@media (max-width: 767.98px) {
		.profile-edit-icon {
			bottom: 45%;
			left: 58%;
		}
		.activity-feed {
			padding: 10px;
		}
		.tab-content{
			margin-bottom: 50%;
		}
	}


		.customtab li a.nav-link{
			border: 0px;
			color:black;
			background-color: transparent;
		}
		.customtab li .nav-link.active{
			border-bottom: 2px solid #1976d2;
			font-weight:bold;
			background: transparent;
			color:#007bff;
			
		}
		.customtab li .nav-link:hover{
			border-bottom: 2px solid #000000;
			color:#007bff;
		}

		/* Skill CSS */
		.skills-head {
			margin-bottom: 10px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			justify-content: space-between;
			-webkit-justify-content: space-between;
			-ms-flex-pack: space-between;
		}
		.skills-head h5 {
			margin-bottom: 0;
			font-size: 14px;
			font-weight: 500;
		}
		.skills-head p {
			margin-bottom: 0;
			color: #848484;
			font-size: 14px;
			font-weight: 500;
		}
		.skill-statistics {
			margin-bottom: 25px;
		}
		.skill-statistics .progress {
			height: 8px;
		}
		.bg-photoshop {
			background: #3d5ee1;
		}
		.bg-editor {
			background: #70c4cf;
		}
		.bg-illustrator {
			background: #ffbf42;
		}
		/* End of Skills */

		/* Subject Card */
		.chiBadgeCardOrange {
			height: 40px;
			width: 40px;
			margin-top: 0px;
			border-radius: 5px;
			padding: 0px 0px 12px 10px;
			background-color:#0284c0;
		}
		.chiBadgeCardOrange .chiBadgeCardTextOrange{
			font-size: 30px;
			color:#ffffff;
		}

		.chiBadgeCardOrange span{
			padding: 0px;
		}
		
		.subjects .card {
			border-radius:15px;
			/* border: none; */
			/* box-shadow: 4px 2px 5px rgb(98, 107, 148); */
			background-color: none;

		}


		/* Edit Button */
		.edit_button:hover:before{
			background-color: #dfd7d7;
			border-radius: 15px;
			padding: 3px;
		}

		/* Cards ATM */
		.card_tari {
			margin-bottom: 10px;
			padding: 0px;
			width: 100%;
			min-height: 200px;
			display: grid;
			grid-template-rows: 20px 50px 1fr 50px;
			border-radius: 20px;
			box-shadow: 0px 6px 10px rgba(224, 54, 210, 0.25);
			transition: all 0.2s;
		}

		.card_tari:hover {
			box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
			transform: scale(1.01);
		}

		/* CARD BACKGROUNDS */
		.card-1 {
			background: linear-gradient(#94c8eb, #0d56f5);
		}

		/* Transaction History */
		.timeline-widget .timeline-item {
		min-height: 70px;
		}
		.timeline-widget .timeline-item .timeline-time {
			padding: 6px 16px 6px 0;
			min-width: 90px;
		}
		.timeline-widget .timeline-item .timeline-badge-wrap .timeline-badge {
			width: 12px;
			height: 12px;
			border-radius: 50px;
			background-color: transparent;
		}
		.timeline-widget .timeline-item .timeline-badge-wrap .timeline-badge-border {
		width: 1px;
		height: 100%;
		background-color: #ebf1f6;
		}
		.timeline-widget .timeline-item .timeline-desc {
		padding: 6px 16px;
		}
		.timeline-widget .timeline-item .timeline-badge.badge-primary {
		border: 2px solid #5d87ff;
		}
		.fs-3 {
			font-size: 0.875rem!important;
		}
		.mt-n1 {
			margin-top: -0.25rem!important;
		}
		@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

		.frame {
			/* position: absolute;
			top: 50%;
			left: 50%;
			width: 400px;
			height: 400px; */
			/* margin-top: -200px;
			margin-left: -200px; */
			justify-content: center;
			border-radius: 2px;
			box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
			background: transparent;
			color: #333;
			font-family: "Open Sans", Helvetica, sans-serif;
		}

		.center {
			/* width: 600px; */
			height: 350px;
			border-radius: 3px;
			/* box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2); */
			background:transparent;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			flex-direction: column;
		}

		.title {
			width: 100%;
			height: 50px;
			border-bottom: 1px solid #999;
			text-align: center;
		}

		h1 {
			font-size: 16px;
			font-weight: 300;
			color: #666;
		}

		.dropzone {
			width: 100px;
			height: 80px;
			border: 1px dashed #999;
			border-radius: 3px;
			text-align: center;
		}

		.upload-icon {
			margin: 25px 2px 2px 2px;
		}

		.upload-input {
			position: relative;
			top: -62px;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
		}

		.btn_upload {
			display: block;
			width: 140px;
			height: 40px;
			background: rgb(141, 192, 226);
			color: #fff;
			border-radius: 3px;
			border: 0;
			box-shadow: 0 3px 0 0 rgb(42, 24, 126);
			transition: all 0.3s ease-in-out;
			font-size: 14px;
		}

		.btn_upload:hover {
			background: rgb(51, 58, 153);
			box-shadow: 0 3px 0 0 rgb(213, 219, 219);
		}
		.holder {
			width: 250px;
			height: 400px;
			border: 1px dashed black;
		}
		#imgPreview{
			max-width: 250px;
			max-height: 400px;
			min-width: 250px;
			min-height: 250px;
		}
		/* Subjects Button */
		.chiActive{
		font-weight: 500;
		text-align: center;
		font-size: 12px;
		border-radius: 7px; 
		padding: 5px;
		}

		/* Leave Table */
		.border-bottom-0 {
			border-bottom: 0 !important;
			
		}
		.table > :not(caption) > * > * {
			padding: 16px 16px;
			background-color: var(--bs-table-bg);
			border-bottom-width: var(--bs-border-width);
			-webkit-box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
			box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
		}
		tbody, td, tfoot, th, thead, tr {
			border-color: inherit;
			border-style: solid;
			border-width: 0;
		}

		.table thead{
			background-color: rgb(224, 223, 223);
		}
		.rounded-3 {
			border-radius: 15px !important;
		}

		/* Awards Tab */
		.card-wrapper {
		width: 400px;
		height: 100%;
		padding-top: 100px;
		margin: 0 auto;
		}
		.card-wrapper .card{
		border-radius: 20px;
		}
		.card-body .award_img {
		margin-top: -40px;
		margin-bottom: -17px;
		}

		/* Attendance */
		.taribadge {
			height: 40px;
			width: 40px;
			margin-top: 0px;
			border-radius: 20px;
			padding: 10px 5px 12px 8px;
			background-color:#cbdee7;
		}

		/* Side Modal Css */
		.dialogcontent {
			width: 292px;
			height: 100%;
			position: fixed;
			top: 0;
			right: 0;
			margin: 0;
			border: none;
			box-shadow: none;
			z-index: 1050;
			background-color: #292929;
			overflow-y: auto;
			overflow-x: hidden;
			outline: 0;
			transition: right 0.3s ease-out;
    	}

		.modalcontent {
			height: 100%;
			border: none;
		}

		.modalbodycontent {
			padding: 0;
		}

		/* Define a custom transition for the modal */
		.modalshow.modalfade .dialogcontent {
			transform: translate3d(100%, 0, 0);
			transition: transform 0.5s ease-out;
		}

		/* Define the CSS properties for the transition */
		.modalshow.modalfade.show .dialogcontent {
			transform: translate3d(0, 0, 0);
		}

		.rightModalItems{
			color: #000000;
			list-style-type: none;
			line-height: 40px;
		}

		.rightModalItems li a{
			color: #525252;
			font-size: 13px;
			text-decoration: none;
		}

		.rightModalItems li a i{
			margin-right: 10px;
		}

		.rightModalItems .chiTag{
			font-size: 9px;
		}

		.rightModalItems .chiTagLine{
			width: 90%;
			border: #ccc solid 1px;
		}

		/* Award */
		.tariaward {
			height: 60px;
			width: 60px;
			margin-top: 0px;
			border-radius: 10px;
			padding: 10px 0px 10px 12px;
			background-color:#cbdee7;
			
		}
		.tari_award_img{
			border-radius: 10px;
		}
