


    .disabledschoolcampuscard {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        background-color: #fff;
    }

    .disabledschoolcampus {
        opacity: 0.6; /* Reduce opacity to visually indicate disabled */
        pointer-events: none; /* Disable mouse events */
    }


    .prosundodeleteschoolorcampusdelbtn{
        cursor: pointer;
        pointer-events: auto;
    }
    
    .pros-content-subject .pros-search-subjectname{
        position: relative;
    }
    .pros-search-subjectname i{
        top: 50%;
        left: 15px;
        color: #999;
        font-size: 20px;
        pointer-events: none;
        transform: translateY(-50%);
        position: absolute;
    }
    .pros-search-subjectname input{
        height: 35px;
        width: 100%;
        outline: none;
        font-size: 17px;
        border-radius: 5px;
        padding: 0 20px 0 43px;
        border: 1px solid #B3B3B3;
    }
    .pros-search-subjectname input:focus{
        padding-left: 42px;
        border: 2px solid #4285f4;
    }
    .pros-search-subjectname input::placeholder{
        color: #bfbfbf;
    }

/* tooltip style shorten name*/
.abba_tooltip {
    position: relative;
    display: inline-block;
    cursor:pointer;
}

.abba_tooltip .abba_tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
}

.abba_tooltip .abba_tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.abba_tooltip:hover .abba_tooltiptext {
    visibility: visible;
    opacity: 1;
} 
/* tooltip style shorten name*/


.pros-schoolkindofmodal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translateY(-50%);
    opacity: 0;
  }
  
  .pros-schoolkindofmodal.fade.show .modal-dialog {
    opacity: 1;
    transform: translateY(0);
  }


.pros-search{
    position: relative;
  }

.pros-search i{
    top: 50%;
    left: 15px;
    color: #999;
    font-size: 15px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
  }
  .pros-search input{
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 0 20px 0 43px;
    border: 1px solid #B3B3B3;
  }
  .pros-search input:focus{
    padding-left: 42px;
    border: 2px solid #4285f4;
  }
  .pros-search input::placeholder{
    color: #bfbfbf;
  }
.pros-select-menu{
    position:relative;
    max-width:900px;
    width: 100%;
    margin: 2px auto 10px;
}
.pros-select-menu .pros-select-btn-new{
    display: flex;
    /*height: 55px;*/
    width:100%;
    background: #fff;
    padding: 20px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 8px;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.pros-select-btn-new i{
    font-size: 15px;
    transition: 0.3s;
}
.pros-select-menu.active .pros-select-btn-new i{
    transform: rotate(-180deg);
}
.pros-select-menu .pros-options{
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
}


 
 

.pros-select-menu.active .pros-options{
    display: block;
}
.pros-options .pros-option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 16px 0px 16px 0px;
    border-radius: 8px;
    /* align-items: center; */
    background: #fff;
}

.pros-options .pros-optionall {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 16px 0px 16px 0px;
    border-radius: 8px;
    /* align-items: center; */
    background: #fff;
}


.pros-options .pros-option:hover{
    background: #F2F2F2;
}

.pros-options .pros-optionall:hover{
    background: #F2F2F2;
}

.pros-options .pros-clickselectallteacher:hover{
    background: #F2F2F2;
    color: #0047ab;
}


.pros-option .pros-optionall i{
    font-size: 13px;
    margin-right: 12px;
}
.pros-option .pros-option-text{
    font-size: 13px;
    color: #333;
}

.pros-optionall .pros-option-text{
    font-size: 14px;
    color: #333;
}



/* merge subject tooltip */
          .popup {

            position: relative;
            display: inline-block;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

          }
          
          /* The actual popup */
          .popup .popuptext {

            visibility: hidden;
            width: 160px;
            background-color: #555;
            color: #fff;
            /* text-align: center; */
            border-radius: 6px;
            padding: 8px 0;
            position: absolute;
            z-index: 1;
            bottom:125%;
            left:50%;
            margin-left: -40px;

          }
          
          /* Popup arrow */
          .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
          }
          
          /* Toggle this class - hide and show the popup */
          .popup .show {
            visibility: visible;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
          }
          
          /* Add animation (fade in the popup) */
          @-webkit-keyframes fadeIn {
            from {opacity: 0;} 
            to {opacity: 1;}
          }
          
          @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
          }
     /* merge subject tooltip */



        .pros-importbtn {
            display: inline-flex;
            overflow: hidden;
            -webkit-box-align: center;
            align-items: center;
            position: relative;
            vertical-align: top;
            cursor: pointer;
            height: 38px;
            background-color: rgb(0, 58, 68);
            padding: 0px 15px;
            color: rgb(255, 255, 255);
            border-radius: 3px;
            font-size: 12px;
            transition: all 0.3s ease-out 0s;
        }


 
 



/* pros multiple dropdown start here */
.pros-container{
    position:relative;
    max-width:320px;
    width: 100%;
    margin: 2px auto 30px;
}
/* .pros-container-class{
    position:relative;
    max-width:320px;
    width: 100%;
    margin: 0px auto 30px;
} */

.pros-select-btn{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.pros-select-btn .btn-text{
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.pros-select-btn .arrow-dwn{
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: #6e93f7;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.pros-select-btn.open .arrow-dwn{
    transform: rotate(-180deg);
}

.list-items{
    position: relative;
    width: 100%;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.pros-select-btn.open ~ .list-items{
    display: block;
}

.list-items .item{
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.list-items .item:hover{
    background-color: #e7edfe;
    width:100%;
}

.item .item-text{
    font-size: 11px;
    font-weight: 400;
    color: #333;
}


.item .pros-generalcheckschoolhead{
    border-radius: 4px;
    /* margin-left:20%; */
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
    margin-top:1rem;
}
/* pros multiple dropdown end here */



/*alert message card start here*/
.pros-wrapper-warning .pros-alertcard {
background-color: #fff;
padding: 10px 20px;
border-left: 5px solid #fdc220;
border-radius: 10px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.pros-wrapper-warning .pros-alertcard .pros-subject p {
color: #909092;
}
.pros-wrapper-warning .pros-alertcard .pros-icon{
font-size: 28px;
color: #fdc220;
}
.pros-wrapper-warning .pros-alertcard .pros-icon-times {
font-size: 28px;
color: #c3c2c7;
cursor: pointer;
}

/*alert message card end here*/



/* language container start here*/
.centerlangues {
margin: auto;
width: 90%;
background-color: white;
padding-bottom: 10px;
padding-top: 10px;
box-shadow: 0 2px 5px 0 #D3D3D3, 0 3px 11px 0 #D3D3D3;
border-radius: 9px;
outline: 1px solid #2e5ca2;
margin-top: 9%;
}
/* language container end here */



/*permission check box for admin end here */
.pros-checkbox-input {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    color: #363839;
    border: 1px solid #bdc1c6;
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;
}

.pros-checkbox-input:checked {
    color:  #fff;
    border-color: #06842c;
    background: #06842c;
}


.pros-checkbox-input-new {
    position: relative;
    width: 1.2em;
    height: 1.2em;
    color: #363839;
    border-radius: 4px;
    outline: 0;
    cursor: pointer;
}

.pros-checkbox-input-new:checked {
    color:  #fff;
}

.pros-checkchildren:checked{
    border-color: #06842c; 
    background: #06842c; 
    color:  #fff;
 }

 
.pros-checkchildren-new:checked{
    cursor: pointer;
    background: rgb(44, 218, 157);
    border: rgb(44, 218, 157);
    outline: none;
    opacity: 0.8;
    box-shadow: rgba(47, 5, 187, 0.2) 1px 6px 15px;
    position: relative;
 }

#pros-checkbox-label::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#pros-checkbox-label {
position: relative;
cursor: pointer;
font-size: 14px;
padding: 0 0.25em 0;
user-select: none;
}

#pros-checkbox-label::before {
    position: absolute;
    content: attr(data-content);
    color: #9c9e9f;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: #363839;
    transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


.pros-checkbox-input::before {
    position: absolute;
    content: '';
    display: block;
    top: 2px;
    left: 7px;
    width: 8px;
    height: 14px;
    border-style: solid;
    border-color:  #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}
/* permission check box for admin end here */



/* permission sub menu font styling */
.pros-submenuaccess-style
{
    font-family: poppins, sans-serif; 
    font-weight:500;    
}
/* permission sub menu font styling end here*/


.pros-sectionpart{
    font-family: poppins, sans-serif; 
}

#pros-linethrough-section{
         font-family: poppins, sans-serif; 
}


.pros-progressbarstep {
    margin: auto;
    width:35%;
    height:60%;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 2px 5px 0 #D3D3D3, 0 3px 11px 0 #D3D3D3;
    border-radius:10px;
    /* outline: 1px solid #2e5ca2; */
    /* margin-top: 9%; */
}

.pros-progressbarstep-staff {
    margin: auto;
    width:35%;
    height:220px;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 2px 5px 0 #D3D3D3, 0 3px 11px 0 #D3D3D3;
    border-radius:10px;
    font-family: poppins, sans-serif;   
    /* outline: 1px solid #2e5ca2; */
    /* margin-top: 9%; */
}

.pros-progressbarstep-section
{
    margin: auto;
    width:35%;
    height:250px;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 2px 5px 0 #D3D3D3, 0 3px 11px 0 #D3D3D3;
    border-radius:10px;
    font-family: poppins, sans-serif;   
}

.pros-progressbarstepcampus {
    margin: auto;
    width:45%;
    height:220px;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 2px 5px 0 #D3D3D3, 0 3px 11px 0 #D3D3D3;
    border-radius:10px;
}


.outer-circle {
    width: 20px;
    height: 20px;
    background-color:white;
    position:relative;
    margin:auto;
    outline: 1px solid rgb(0, 102, 245);
}

.outer-circlenew{
    width: 15px;
    height: 15px;
    position: relative;
    margin:auto;
}


/* SCTION WIZARD */
.pros-wizard-container {
    display: flex;
    align-items: center;
    position: relative;
}

/* .pros-wizard-line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: #ccc;
    z-index: -1;
} */

.pros-wizard-steps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.pros-wizard-step {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.pros-step-content {
    display: flex;
    align-items: center;
}

.pros-step-number{
    width: 30px;
    height: 30px;
    border: 2px dotted #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.pros-step-number.active{
    width: 30px;
    height: 30px;
    border: 2px dotted rgb(0, 102, 245);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}



.pros-step-description {
    margin-left: 10px;
    font-family: poppins, sans-serif;   
}


.pros-step-description.active {
    margin-left: 10px;
    font-family: poppins, sans-serif;  
    font-weight: 600; 
}


#pros-create-sectionbtn{
    font-family: poppins, sans-serif;    
}

/* SCTION WIZARD */



.inner-circle {
    width: 10px;
    height: 10px;
    /* border-radius: 50%; */
    background-color:rgb(0, 102, 245);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.inner-circle-down{
    width: 10px;
    height: 10px;
    /* border-radius: 50%; */
    background-color:grey;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.pros-schoolheading {
    font-size: 18px;
    display: block;
    font-weight: bold;
    font-family: poppins, sans-serif;
    color: #363949;
}



.pros-flexi-input-affix-wrapper  {
    margin: auto;
    width: 80%;
    background-color: white;
    padding-bottom: 8px;
    padding-top: 8px;
    box-shadow: 0 2px 5px 0 #D3D3D3, 0 3px 11px 0 #D3D3D3;
    border-radius:100px;
    outline: 1px solid #007bff;
    
}


/* remove input border */
.pros-flexi-input:focus {
    outline: none;
    border: none;
 }

 #pros-textarea_editor{
    outline: none;
    border: none;
 }

.pros-flexi-input{
    outline: none;
    border: none;
    font-family: poppins, sans-serif;
    font-size: 11px;
    user-select: none;
    color:#363949;
}

.pros-generalselect-input
{
    outline: none;
    border: none;
    font-family: poppins, sans-serif;
    font-size: 11px;
    user-select: none;
    color:#363949;
}

.pros-generalselect-input:focus{
    outline: none;
    border: none;
}



.pros-generalselect{
    outline: none;
    border: none;
    font-family: poppins, sans-serif;
    font-size: 11px;
    user-select: none;
    color:#363949;
}

/* remove input border */

#pros-watchtutorial .pros-watchtutorial{
    font-family: poppins, sans-serif;   
}

.pros-setmsgdes{
    font-family: poppins, sans-serif;   
    font-weight: 500;
}
.pros-setmsgdesitem{
    font-family:  sans-serif;  
    line-height: 29px; 
    font-style: normal;
} 


.pros-flexi-input-affix-wrapper-campus  {
    margin: auto;
    width: 100%;
    background-color: white;
    padding-bottom: 6px;
    padding-top: 6px;
    box-shadow: 0 2px 5px 0 #D3D3D3, 0 3px 11px 0 #D3D3D3;
    border-radius:80px;
    outline: 1px solid #007bff;
}


.pros-flexi-input-affix-wrapper-campus-address  {
    margin: auto;
    width: 100%;
    background-color: white;
    padding-bottom: 6px;
    padding-top: 6px;
    box-shadow: 0 2px 5px 0 #D3D3D3, 0 3px 11px 0 #D3D3D3;
    /* border-radius:80px; */
    outline: 1px solid #007bff;
}
  
.pros-flexi-input-affix-wrapper-invitemail
{
        margin: auto;
        width: 100%;
        background-color: white;
        padding-bottom: 7px;
        padding-top: 7px;
        box-shadow: 0 2px 5px 0 #D3D3D3, 0 3px 11px 0 #D3D3D3;
        border-radius:100px;
        outline: 1px solid #007bff;  
}


.pros-flexi-input{
    margin-left:30px;
}

.pros-flexi-label-wrapper label {
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    display: block;
    font-size: 11px;
    margin-left:12%;
    font-family: poppins, sans-serif;
    color:#363949;
}

.pros-flexi-label-wrappernew label {
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    display: block;
    font-size: 11px;
    margin-left:2%;
    font-family: poppins, sans-serif;
    color:#363949;
}

.pros-flexi-label-wrapperedit label {
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    display: block;
    font-size: 11px;
    margin-left:4%;
    font-family: poppins, sans-serif;
    color:#363949;
}


.pros-geneclass-label{
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    display: block;
    font-size: 11px;
    margin-left:4%;
    font-family: poppins, sans-serif;
    color:#363949;
}

.pros-flexi-label-wrapper-campus label {
    text-transform: uppercase;
    /* position: relative; */
    font-weight: 700;
    /* display: block; */
    font-size: 0.9em;
    margin-left:12%;
}



.vertical-line {
    width: 1px;
    height: 86%;
    border-left: 1px solid rgb(0, 102, 245);
    position: relative;
    margin:auto;
}

   

.pros-menuaccess-para{
    font-family: poppins, sans-serif;
        font-size: 13px;
}


.pros-diskschooltitle {
    position: absolute;
    top: 100px;
    left: 90px;
    display: inline-flex;
    height:50px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(34, 3, 138, 0.1) 1px 1px 10px;
    padding: 0px 30px 0px 80px;
    margin-bottom: 20px;
    -webkit-box-align: center;
    align-items: center;
}


.pros-diskschooltitleedit {
    position: absolute;
    top: 80px;
    left: 150px;
    display: inline-flex;
    height:50px;
    width:310px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(34, 3, 138, 0.1) 1px 1px 10px;
    padding: 0px 30px 0px 80px;
    margin-bottom: 20px;
    -webkit-box-align: center;
    align-items: center;
}

.pros-diskschooltitle h1 {
    color: rgb(0, 102, 245);
    margin: 0px;
    padding: 0px;
    line-height: 1rem;
    font-size: 14px;
    font-family: poppins, sans-serif;
    font-weight: 800;
}



.pros-diskschooltitleedit h1 {
    color: rgb(0, 102, 245);
    margin: 0px;
    padding: 0px;
    line-height: 1rem;
    font-size: 14px;
    font-family: poppins, sans-serif;
    font-weight: 800;
}

.pros-diskschooltitle::before {
    width: 30px;
    height:30px;
    display: block;
    content: "";
    box-sizing: border-box;
    border: 1px solid rgb(216, 216, 227);
    padding: 3px;
    background-clip: content-box;
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: rgb(216, 216, 227);
    z-index: 2;
}


.pros-diskschooltitleedit::before {
    width: 40px;
    height: 35px;
    display: block;
    content: "";
    box-sizing: border-box;
    border: 1px solid rgb(216, 216, 227);
    padding: 3px;
    background-clip: content-box;
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: rgb(216, 216, 227);
    z-index: 2;
}

.pros-diskschooltitle::after {
    width: 55px;
    height: 50px;
    display: block;
    content: "";
    border: 1px solid rgb(216, 216, 227);
    position: absolute;
    top: -1px;
    left: -1px;
    background: rgb(255, 255, 255);
    z-index: 1;
}


.pros-diskschooltitleedit::after {
    width: 65px;
    height: 54px;
    display: block;
    content: "";
    border: 1px solid rgb(216, 216, 227);
    position: absolute;
    top: 1px;
    left: -1px;
    background: rgb(255, 255, 255);
    z-index: 1;
}



.pros-dotted-box {
    /* border: 2px dashed #000; */
    border: 1px dashed rgb(186, 186, 206);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.6);
    width: 200px;
    height: 150px;
    position:absolute;
    top:12rem;
    left:6rem;
    /* height: 200px; */
}





.pros-dotted-boxedit {
    border: 1px dashed rgb(186, 186, 206);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.6);
    width: 300px;
    height: 250px;
    position:absolute;
    top:10rem;
    left:10rem;
}

.schooliconinform{
    position:relative;
    top:4rem;
    left:5rem;
    width:20%;
}

.schooliconinformedit{
    position:relative;
    top:4rem;
    left:5rem;
    width:30%;
}

.schooliconinform-image{
    width:50%; 
    position:relative;
    top:-2rem;
    left:-2rem;
    opacity:0.8;
}

.schooliconinform-image-new{
    width:70%; 
    position:relative;
    top:-2rem;
    left:-4rem;
    opacity:0.8;
}


.pros-schooliconinform-schoolhead-image
{
     width:70%; 
     position:relative;
     top:-4rem;
    left:-3rem;
    opacity:0.8;
}



.schooliconinform-imageedit{
    width:75%; 
    position:relative;
    top:-2rem;
    left:-2rem;
    opacity:0.8;
}



.pros-input-wrappernew {
    display: block;
    position: relative;
    margin: auto;
    width: 80%;

    background-color: white;
    padding-bottom: 8px;
    padding-top: 8px;
    box-shadow: 0 2px 5px 0 #D3D3D3, 0 3px 11px 0 #D3D3D3;
    border-radius:100px;
    outline: 1px solid #007bff;
}


.pros-input-append {
    position: absolute;
    top: -4%;
    right: 0;
    padding: 10px 10px; 
    background-color: #ddd; 
    color: #333; 
    font-weight: bold; 
    cursor: pointer;
    border-bottom-right-radius:100px;
    border-top-right-radius:100px;

}


/*::-webkit-scrollbar {*/
/*    width: 10px;*/
/*}*/

/* Track */
/*::-webkit-scrollbar-track {*/
/*    background: white;*/
/*}*/

/* Handle */
/*::-webkit-scrollbar-thumb {*/
/*    background: #1976d2;*/
/*    border-radius: 10px;*/
/*}*/

/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {*/
/*    background: #1976d2;*/
/*}*/

/* .modal-backdrop {
    background-color: #DCD9CD;
} */

.modal-dialog {
    outline: none;
}

#aiimage {
    margin-top: 33%;
    margin-left: 60%;
    width: 60%;
}

.square-box {
    background-color: white;
    border: 2px solid #efefef;
    cursor: pointer;
    border-radius: 9px;
    height: 98%;
}


#tertiarycontainer {
    margin-top: 20px;
}
    
#lmscontainer {
    margin-top: 35px;
}

/* k-container tertiarycontainer */
#typeofschoolback {
    cursor:pointer;
    margin-top: 5%;
    font-size:15px;
    font-size:13px;
    width:30%;
    margin-left:2%;
}

#proceedtosettingsch {
    background-color: #007bff;
    cursor: pointer;
    margin-top: 5%;
    font-size: 15px;
    font-size: 13px;
    margin-left: 3%;
    width: 30%;
}

#onboardingbtndisplay {
    width:50%;
}


/*PROS CHECK_USER SUBJECT HERE*/
.tari-tari_checkbox-group {
    display: flex;
    flex-wrap: wrap; 
    /* user-select: none; */
    }
    .tari-tari_checkbox-group > * {
        flex: 0 0 calc(33.333% - 10px); 
        margin: 0.5rem 0.5rem;
    }

    .tari_checkbox-input {
        clip: rect(0 0 0 0);
        clip-path: inset(100%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    .tari_checkbox-input:checked + .tari_checkbox-tile {
        border-color: #2260ff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        color: #2260ff;
    }
    .tari_checkbox-input:checked + .tari_checkbox-tile:before {
        transform: scale(1);
        opacity: 1;
        background-color: #2260ff;
        border-color: #2260ff;
    }
    .tari_checkbox-input:checked + .tari_checkbox-tile .tari_checkbox-icon, .tari_checkbox-input:checked + .tari_checkbox-tile .tari_checkbox-label {
        color: #2260ff;
    }
    .tari_checkbox-input:focus + .tari_checkbox-tile {
        border-color: #2260ff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
    }
    .tari_checkbox-input:focus + .tari_checkbox-tile:before {
        transform: scale(1);
        opacity: 1;
    }
    .tari_checkbox-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 8rem;
        min-height: 2rem;
        border-radius: 0.5rem;
        border: 2px solid #b5bfd9;
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        transition: 0.15s ease;
        cursor: pointer;
        position: relative;
    }
    .tari_checkbox-tile:before {
        content: "";
        position: absolute;
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        border: 2px solid #b5bfd9;
        background-color: #fff;
        border-radius: 50%;
        top: 0.25rem;
        left: 0.25rem;
        opacity: 0;
        transform: scale(0);
        transition: 0.25s ease;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .tari_checkbox-tile:hover {
        border-color: #2260ff;
    }
    .tari_checkbox-tile:hover:before {
        transform: scale(1);
        opacity: 1;
    }

    .tari_checkbox-label {
        color: #707070;
        transition: 0.375s ease;
        text-align:center;
    }
    
    /* PROS CHECK_USER SUBJECT HERE */

@media only screen and (max-width: 767px) {

    /* CSS rules for mobile devices go here */
    #proceedtosettingsch {
        background-color: #007bff;
        cursor: pointer;
        margin-top: 5%;
        font-size: 12px;
        margin-left: 3%;
        width: 50%;
    }

    #onboardingbtndisplay {
        width: 100%;
    }

    #tertiarycontainer,
    #k-container {
        margin-bottom: 10%;
    }

    #tertiarycontainer {
        margin-left: 0;
    }

    .square-box {
        width: 110%;
        background-color: white;
        border: 2px solid #efefef;
        cursor: pointer;
        border-radius: 9px;
        height: 98%;
    }

    .pros-hidegridcontenthide
    {
        display:none;   
    }

}

    /* @media only screen and (min-width: 768px) and (max-width:912px) {
        #aiimage {
            margin-top: -300%;
            margin-left: 400%;
        }
    } */

 

@media (min-width: 601px) and (max-width: 1024px) {
    .pros-hidegridcontenthide
    {
        display:none;   
    }
}


